@{
    ViewBag.Title = "Home Page";
    var videos = (List<UGE4.DbInfrastructure.Article>)ViewBag.Videos; 
}

<div class="jumbotron">
    <h1>UGE</h1>
    <p class="lead">University Grade Eduction System</p>
</div>


<div class="row">
    @foreach (var video in videos)
    {
       <div class="col-md-4">
            <h2>@video.ArticleName</h2>
            <p>
                @video.Description
            </p>
            <div>
                @Html.Raw(video.VideoLink.Replace("height=\"315\"", "height=\"320\"").Replace("width=\"420\"", "width=\"350\""))
            
            </div>
        </div>
    }
   
</div>